* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    margin: 0;
}

.fontcolor {
    color: #967d48;
}

.button {
    border: 3px solid #000000;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ffffff;
}

.button:hover {
    background-color: #d6d2d256;
    color: black
}

.no_line {
    background: none;
    color: transparent;
    border: 0;
    margin: 0 auto 34px auto;
}

.no_line1 {
    background: none;
    color: transparent;
    border: 0;
    margin: 0 auto 622px auto;
}

/*  header start */
.navbar {
    display: flex;
    background-color: white;
    justify-content: center;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

.navbar a {
    color: black;
    padding: 30px 50px;
    text-decoration: none;
    text-align: center;
}

.navbar img {
    height: 33px;
}

/* Change color on hover */
.navbar a:hover {
    color: #967d48;
}

.navbar .active {
    color: #967d48;
}

.header-img>img {
    width: 100%;
    height: auto;
}

/*  header end */
/* footer start*/
footer {
    color: #252525;
    background-color: hsla(0, 10%, 90%, 0.62);
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.Contact-us-text {
    text-align: center;
}

.row5 {
    display: flex;
    flex-wrap: wrap;
}

.find-us {
    flex: 33.33%;
}

.Contact-us {
    flex: 33.33%;
    text-align: center;
}

.Localization {
    flex: 33.33%;
    text-align: center;
}

/* .Localization-data {
    padding-right: 44px;

} */

.copyrights {
    text-align: left;
    margin-left: 100px;
}

/* body start*/

/* ROW1 start*/
.content-title {
    font-size: 50px;
    text-align: center;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.side1 {
    flex: 15%;
}

.side2 {
    flex: 35%;
    line-height: 2;
}

.side3 {
    flex: 35%;
}

.side4 {
    flex: 15%;
}

.ul-list {
    margin: 10%;
    background-color: #967d48;
    padding: 10px;
    color: white;
    font-size: 20px;
}

li {
    line-height: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.365);
}

li:last-child {
    border-bottom: none;
}

/* ROW1 end*/

/* ROW2 start*/
.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2-left {
    flex: 15%;
}

.row2-center {
    flex: 70%;
}

.row2-right {
    flex: 15%;
}

.row2-center>img {
    width: 100%;
    height: auto;
}

/* ROW2 end*/

/* ROW3 start*/
.row3 {
    display: flex;
}

.row3-left {
    flex: 15%;
}

.row3-center {
    flex: 45%;
}

.row3-right {
    flex: 40%;
}

/* ROW3 end*/


/* ROW4 start*/
.row4 {
    display: flex;
    flex-wrap: wrap;
}

.row4-side1 {
    flex: 15%;
}

.row4-side2 {
    flex: 35%;

}

.row4-side3 {
    flex: 35%;
    line-height: 2;
    text-align: left;
}

.row4-side4 {
    flex: 15%;
}

/* ROW4 end*/

/* ROW5 start*/
.row5 {
    display: flex;
    flex-wrap: wrap;
}

.row5-side1 {
    flex: 15%;
}

.row5-side2 {
    flex: 35%;

}

.row5-side2>img {
    width: 100%;
    height: auto;
    border-radius: 1%;
}

.row5-side3 {
    flex: 35%;
    line-height: 2;
    text-align: left;
    padding-left: 15px;
    text-align: justify;
}

.row5-side4 {
    flex: 15%;
}

.row5-img1,
.row5-img2 {
    display: inline-block;
    padding: 60px 10% 45px;
    border-radius: 10px;
    box-shadow: 0px 40px 41px 0px rgba(0, 0, 0, 0.05);
    margin-left: 15px;
}

/* ROW5 end*/
.row6 {
    display: flex;
}

.fixed-bg {
    background-image: url("../images/greenland2.jpg");
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    text-align: center;
    color: white;
    z-index: -1;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Media Query for Mobile Devices */
@media (max-width: 575px) {
    .navbar {
        display: none;
    }

    .row1 {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .row1>.side2>h5>h1 {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .row1>.side2>p {
        margin-left: 7%;
        margin-right: 7%;
        text-align: justify;
    }

    .row3 {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .row4 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .row4>.row4-side3>h2 {
        margin-left: 7%;
        margin-right: 7%;
        text-align: center;
    }

    .row4-side3>.button {
        align-items: center;
    }

    .row4>.row4-side3>p {
        margin-left: 9%;
        margin-right: 9%;
        text-align: justify;
    }

    /* .row4-side3>.button {
        margin-left: 30%;

    } */

    .row5 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .row5>.row5-side3>h2 {
        margin-left: 7%;
        margin-right: 7%;
        text-align: center;
    }

    .row5>.row5-side3>p {
        margin-left: 9%;
        margin-right: 9%;
        text-align: justify;
    }

    /* 
    .no_line1 {
        margin: 0 auto 915px auto;
    } */

    .demo,
    .no_line1 {
        display: none;
    }


    .footer-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Contact-us {
        margin-top: 10%;
    }

    .Contact-us>h1 {
        padding-right: 7%;
        text-align: center;
    }

    .Localization {
        margin-top: 10%;
    }

    .copyrights {
        margin: 0%;
        text-align: center;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        display: none;
    }

    .row1 {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .row1>.side2>h5>h1 {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .row1>.side2>p {
        margin-left: 6%;
        margin-right: 6%;
    }

    .row3 {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .row4 {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .row4>.row4-side3>h2 {
        margin-left: 7%;
        margin-right: 7%;
        text-align: center;
    }

    .row4>.row4-side3>p {
        margin-left: 9%;
        margin-right: 9%;
    }

    .row5 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .row5>.row5-side3>h2 {
        margin-left: 7%;
        margin-right: 7%;
        text-align: center;
    }

    .row5>.row5-side3>p {
        margin-left: 9%;
        margin-right: 9%;
        text-align: justify;
    }

    .no_line1 {
        margin: 0 auto 472px auto;
    }


    .footer-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Contact-us {
        margin-top: 10%;
    }

    .Localization {
        margin-top: 10%;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
        display: none;
    }

    .no_line1 {
        margin: 0 auto 471px auto;
    }
}

@media (max-width: 1200px) {
    .navbar {
        display: none;
    }
}